

#avatar-upload{
  padding: 2rem;
  border: 1px dashed $firecat-dark-grey;
  text-align: center;
  font-weight: 500;
  height: 250px;
  display: table;
  width: 250px;

  span{
    display:table-cell;
    vertical-align: middle;
    font-weight:500;
    padding:2rem;
  }
}

#account-settings{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap:1rem;

  #additional_information{
  }

  #avatar_update{
    text-align: center;

    .title{
      text-align: left;
    }

    #avatar_update_form{
      text-align: left;

      .file_upload{

      }
    }
  }

  #account_settings{
    display:grid;
    grid-template-rows: 1fr;
    grid-gap:1rem;

    > .title{
      margin-bottom:0;
    }

    #account_settings_email{

    }

    #account_settings_password{

    }
  }
}