

#avatar-upload{
  padding: 2rem;
  border: 1px dashed $firecat-dark-grey;
  text-align: center;
  font-weight: 500;
  height: 250px;
  display: table;
  width: 250px;

  span{
    display:table-cell;
    vertical-align: middle;
    font-weight:500;
    padding:2rem;
  }
}