

body{
  background:$background;
}

a{
  color:$firecat-link;

  &:hover{
    text-decoration: none;
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background-color: $firecat-primary-dark;
  border-color: $firecat-primary-dark;
}

.datepicker-container{
  z-index: 999999!important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background:inherit;
}