
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #98ADDF;
$brand-info: #8eb4cb;
$brand-success: #C3F0EE;
$brand-warning: #E08237;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


// Firecat Structure
$menu-height: 50px;
$authenticated-menu-width: 300px;

// Firecat Colours
$background:#F7F7F7;
$centerpiece: #ECECEC;

$firecat-primary:#5DBBB7;
$firecat-primary-dark:#218884;
$firecat-primary-light:#C3F0EE;
$firecat-secondary:#FFB87F;
$firecat-secondary-dark:#E08237;
$firecat-secondary-light:#FFE4CF;
$firecat-dark-grey:#1E1E1E;
$firecat-light-grey:#ECECEC;
$firecat-black:#0f0f0f;
$firecat-white:#FFFFFF;
$menu-item:#5DBBB7;
$menu-item-active:#C3F0EE;

$firecat-link:#305196;
