
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Override
@import "overrides";

// Partials
@import "_partials/menu";
@import "_partials/buttons";
@import "_partials/account_bar.scss";
@import "_partials/_authenticated_menu.scss";
@import "_partials/form";
@import "_partials/structure";
@import "_partials/status_code_display.scss";
@import "_partials/404";

// Pages
@import "_pages/register";
@import "_pages/welcome";
@import "_pages/verify";
@import "_pages/invite";
@import '_pages/login';

@import "_pages/docs/docs";

@import "_pages/vendor/dashboard";
  @import "_pages/vendor/opportunities";
  @import "_pages/vendor/opportunity";
  @import "_pages/vendor/deals";
  @import "_pages/vendor/deal";
  @import "_pages/vendor/deal_tag";
  @import "_pages/vendor/tags";

@import "_pages/partner/dashboard";
  @import "_pages/partner/opportunities";
  @import "_pages/partner/end_users";

@import "_pages/admin/dashboard";
  @import "_pages/admin/onboarding";
  @import "_pages/admin/partners";

@import "_pages/dashboard";
@import "_pages/account/account";

body{

  &.guest{
    > .full-height{
      z-index: 1;
      position: relative;
    }

    color:$firecat-light-grey;

    .button{

      &.action{
        background:$firecat-primary-dark;
        color:$firecat-white!important;
      }
    }

    .title{
      color:rgba($firecat-light-grey,1);
      border-bottom:1px solid rgba($firecat-light-grey,0.4);
    }

    .subtitle{
      color:rgba($firecat-light-grey,1);
    }

    a{
      color:$firecat-primary-light;
      font-weight: bold;
    }
  }

}

#particles-js{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#app{
  padding-top:$menu-height;

  &.authenticated{
    position: absolute;
    top:$menu-height;
    left:$authenticated-menu-width;
    right:0;
    bottom:0;
    padding:2rem;
    overflow-y:auto;
    border-collapse: collapse;
    z-index: 1;
  }
}

.container{
  background:$centerpiece;
}

.avatar{
  border-radius:50%;
  display: inline-block;
  overflow: hidden;

  .default-avatar{
    width:128px;
    height:128px;
  }

  &.small{
    width:32px;
    height:32px;
  }

  img{
    width:100%;
  }
}

.row{
  margin-bottom:1rem;
}

.link{
  color:$firecat-link;

  &:hover{
    text-decoration: underline;
    cursor:pointer;
  }
}

.striped{
  li:nth-child(odd){
    background:rgba($firecat-light-grey,0.3);

  }

  li:nth-child(even){
    background:$firecat-white;
  }
}

.table-striped > tbody > tr:nth-of-type(odd){
  background:rgba($firecat-light-grey,0.3);
}

.table tbody tr td{
  border:none;
}

.highlight{
  color:$firecat-primary;
}

p.small{
  font-size:1.4rem;
  color:rgba(55,55,55,0.3);
}
