
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Override
@import "overrides";

// Partials
@import "_partials/menu";
@import "_partials/buttons";
@import "_partials/account_bar.scss";
@import "_partials/_authenticated_menu.scss";
@import "_partials/form";
@import "_partials/structure";
@import "_partials/status_code_display.scss";
@import "_partials/404";

// Pages
@import "_pages/register";
@import "_pages/welcome";
@import "_pages/verify";
@import '_pages/login';

@import "_pages/docs/docs";

@import "_pages/vendor/dashboard";
  @import "_pages/vendor/opportunities";
  @import "_pages/vendor/opportunity";
  @import "_pages/vendor/deals";
  @import "_pages/vendor/deal";
  @import "_pages/vendor/deal_tag";

@import "_pages/partner/dashboard";
  @import "_pages/partner/opportunities";
  @import "_pages/partner/end_users";

@import "_pages/admin/dashboard";
  @import "_pages/admin/onboarding";
  @import "_pages/admin/partners";

@import "_pages/dashboard";
@import "_pages/account/account";

#app{
  padding-top:$menu-height;

  &.authenticated{
    position: absolute;
    top:$menu-height;
    left:300px;
    right:0;
    bottom:0;
    padding:2rem;
    overflow-y:auto;
    border-left:1rem solid $firecat-light-grey;
    box-shadow:inset 0px 0px 5px $firecat-dark-grey;
    border-collapse: collapse;
  }
}

.container{
  background:$centerpiece;
}

.avatar{
  border-radius:50%;
  display: inline-block;
  overflow: hidden;

  .default-avatar{
    width:128px;
    height:128px;
  }

  img{
    width:100%;
  }
}

.row{
  margin-bottom:1rem;
}

.link{
  color:$firecat-link;

  &:hover{
    text-decoration: underline;
    cursor:pointer;
  }
}
