@media screen and (max-width:768px){

  #vendor-opportunity{
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
            "converted"
            "status"
            "considerations"
            "opportunity_information"
            "opportunity_products"
            "assignments_panel"
            "my_information"
            "activity_panel"
            "internal_messaging_panel"
            "partner_consultation"
  }

  #vendor-deal{
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "deal_actions"
      "status"
      "implementation"
      "opportunity_information"
      "opportunity_products"
      "updates"
      "my_information"
      "internal_messaging_panel"
      "activity_panel"
      "partner_consultation"
      "assignments_panel";
  }

  #partner_deal {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
            "deal_actions"
            "status"
            "implementation"
            "opportunity_information"
            "opportunity_products"
            "end_user"
            "updates"
            "my_information";
  }

  #opportunity{
    grid-template-columns: 1fr;
    grid-template-rows:auto auto auto auto auto auto auto auto;
    grid-template-areas:
            "converted"
            "status"
            "opportunity_information"
            "opportunity_products"
            "vendor_consultation"
            "end_user"
            "my_information"
            "opportunity_delete";
  }

  #vendor-admin-onboarding {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "new_invite" "pending_invites";
  }


  #vendor-admin{
    input[type="text"]{
      width:100%;
    }
  }

  #vendor-admin #vendor-admin-stats-wrapper #vendor-admin-stats{
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "square4"
      "square1"
      "square2"
      "square3"
      "column1"
      "column2";
  }

  #opportunities-table{

    tr{
      th:nth-child(4), th:nth-child(5){
        display:none;
      }

      td:nth-child(4), td:nth-child(5){
        display:none;
      }
    }
  }

  #end-users-table{
    tr{
      th:nth-child(4){
        display:none;
      }

      td:nth-child(4){
        display:none;
      }
    }
  }

  #welcome #welcome-wrapper #welcome-wrapper-grid #welcome-wrapper-introduction #logo-wrapper #menu-logo{
    padding-left:0;
  }

  #opportunity_information tr td:first-child{
    min-width: 0;
  }

  #recent-deals{
    display:none;
  }

  #login{
    padding: 4rem;
  }

  #login #login-wrapper{
    width:100%;
  }

  #partner-dashboard{
    #overview{
      grid-area:overview;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows:1fr 1fr;
      grid-gap:1rem;

      .dashboard-panel:nth-child(2),.dashboard-panel:nth-child(4){
        display:none;
      }
    }
  }

  #vendor-overview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    grid-template-areas: "title" "acceptance" "opportunities_created" "deal_value" "response_time";
  }

}