
#account-bar{
  position: fixed;
  top:0;
  left:0;
  right:0;
  height:$menu-height;
  background:$firecat-primary-dark;

  #menu-links{
    height:$menu-height;

    a{
      color:$firecat-white;

      &:hover{
        color:$firecat-secondary;
      }

      li{
        line-height: $menu-height;
        display:inline-block;
        padding:0 1rem;

        .avatar{
          width: 32px;
          height: 32px;
          vertical-align: top;
          margin-top: 8px;
          margin-right: 5px;
          position: relative;

          img{
            width:100%;
            position: absolute;
            top:0;
          }
        }
      }

      &.active{
        color:$firecat-secondary;
      }
    }

  }
}