
#docs-menu{
  position: absolute;
  left:0;
  top:$menu-height;
  bottom:0;
  width:$authenticated-menu-width;
  background:$firecat-white;
  padding:1rem;

  ul{
    list-style-type:none;
    padding:0;

    ul{
      li{
        padding-left:2rem;
        font-size:1.7rem;
      }

      ul{
        li{
          padding-left:4rem;
          font-size:1.5rem;
        }
      }
    }
  }

  a{
    margin-bottom:1rem;
    color:$firecat-primary;
    font-size:1.9rem;

    &.active{
      color:$firecat-secondary;
    }

    &:hover{
      color:$firecat-white;

      li{
        background:$firecat-dark-grey;
      }

      &.active{
        color:$firecat-secondary;
      }
    }

    li{
      display:block;
      padding:0.5rem;
      line-height:2rem;
    }
  }
}

#authenticated-menu{
  position: absolute;
  left:0;
  top:$menu-height;
  bottom:0;
  width:$authenticated-menu-width;
  background:$firecat-white;
  padding:1rem;

  #menu-links{
    ul{
      list-style-type:none;
      padding:0;

      ul{
        margin-left:2rem;

        a{
          font-size:1.5rem;

          li{
            i{
              font-size:2rem;
              margin-right:0.5rem;
            }

            line-height: 2rem;
          }
        }
      }

      a{
        margin-bottom:1rem;
        color:$firecat-primary;
        font-size:2rem;

        &.active{
          color:$firecat-secondary;
        }

        &:hover{
          color:$firecat-white;

          li{
            background:$firecat-dark-grey;
          }

          &.active{
            color:$firecat-secondary;
          }
        }

        li{
          display:block;
          padding:1rem;
          line-height:2.8rem;

          i{
            margin-right:1rem;
            font-size:2.8rem;
            vertical-align: top;
          }
        }
      }

    }
  }
}