

.title{
  margin-top:0;
  color:$firecat-primary;
  border-bottom:2px solid rgba($firecat-dark-grey,0.3);
  padding-bottom:3px;
}

.subtitle{
  margin-top:1rem;
  color:$firecat-secondary;
  font-size:2rem;
}