#partner_deal{

  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:auto auto auto auto;
  grid-gap:1rem;
  grid-template-areas: "deal_actions deal_actions deal_actions deal_actions"
    "implementation status updates my_information"
    "opportunity_information opportunity_information end_user my_information"
    "opportunity_information opportunity_information opportunity_products opportunity_products";
}

#deals{
  .pending{
    background:rgba(yellow,0.1);
  }

  .won{
    background:rgba(green,0.1);
  }

  .lost{
    background:rgba(red,0.1);
  }
}