#page-topper{
  position: relative;
  padding:2rem;
  margin:-2rem;
  margin-bottom:2rem;

  #page-topper-bg{
    position: absolute;
    background: url(images/page-topper.png);
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1;
  }

  #page-title{
    color:rgba($firecat-dark-grey,0.3);
    font-weight:300;
    margin:0;
    position: relative;
    z-index: 2;
  }

  #page-subtitle{
    color:rgba($firecat-dark-grey,0.3);
    letter-spacing: 1px;
    position: relative;
    margin-top:0;
    z-index: 2;
    font-weight: bold;
  }

  #page-topper-breadcrumbs{
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 1rem;
    border-radius: 4px;
    background:$firecat-light-grey;
    line-height: 1.3rem;
    font-size: 1.3rem;

    ul{
      padding:0;
      margin:0;

      li{
        display:inline-block;
        list-style-type: none;
        color:$firecat-dark-grey;

        a{
          color:$firecat-primary;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

    ul{
      li:not(:last-child){
        &::after{
          content: "/\00a0";
          color:$firecat-dark-grey;
          margin:0 0.5rem;
        }
      }
    }
  }
}

#dashboard{
  .dashboard-panel{
    padding:2rem;
    height:250px;
    display:table;
    width:100%;
    border:1px solid $firecat-light-grey;

    .dashboard-panel-wrapper{
      display:table-cell;
      vertical-align: middle;
      padding:2rem;
    }

    .dashboard-panel-big{
      text-align: center;
      font-size:6rem;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color:$firecat-primary-dark;
    }

    .dashboard-panel-small{
      text-align: center;
      color:$firecat-primary;
      font-size:2.2rem;
    }
  }
}


