#invite{

  .highlight{
    color:$firecat-secondary;
  }

  #vendor-box{
    border:1px solid rgba(55,55,55,0.1);
    background:rgba(55, 55, 55, 0.3);
    padding:1rem;
    border-radius:4px;

    #vendor-box-top{
      p{
        margin:0;
      }
    }
  }

  #invite-wrapper{
    padding:1rem;
    background:none;
    width:600px;
    margin:auto;
    color:$firecat-white;

    p.small{
      color:$firecat-white;

      .highlight{
        color:$firecat-dark-grey;
      }
    }


    #logo-banner{
      background:$firecat-primary;
      border-radius:4px;
      padding:1rem;

      h5{
        color:$firecat-white;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
      }

      #menu-logo{
        font-size:6rem;
        line-height: 6rem;
        padding-left:1rem;
        text-align: center;

        .fire{
          color:$firecat-secondary;
          font-weight:200;
        }

        .cat{
          color:$firecat-white;
          font-weight:bold;
        }
      }

    }
  }
}