

#verify{
  #verify-wrapper{
    padding-top:50px;
    padding-bottom:50px;


    > div{
      display:table;

      .content{
        display:table-cell;
        width:100%;
        vertical-align: middle;
      }
    }
  }
}