
#welcome{
  background:$firecat-dark-grey;
  height:calc(100% - #{$menu-height});
  display:table;
  width:100%;

  #welcome-wrapper{
    display:table-cell;
    vertical-align: middle;
    text-align: center;

    #logo-wrapper{
      #menu-logo{
        font-size:12rem;
      }
    }

    #menu-links{
      height: $menu-height;
      text-align: center;

      ul{
        height:100%;
        margin:auto;
        padding:0;
        display:table;

        a{
          display:table-cell;
          vertical-align: middle;
          padding:0 2rem;
          color:$firecat-white;
          font-size:1.7rem;

          &:hover{
            color:$firecat-secondary;
          }

          li{
            list-style-type: none;
          }
        }
      }
    }
  }
}


#register{

}